<h3>Create Player</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">


    <div class="form-group">
      <label for="firstname">firstName</label>
      <input type="text" class="form-control" id="firstname" [(ngModel)]="player.firstname" name="firstname">
    </div>

    <div class="form-group">
      <label for="lastname">lastName</label>
      <input type="text" class="form-control" id="lastname" [(ngModel)]="player.lastname" name="lastname">
    </div>

    <div class="form-group">
      <label for="age">age</label>
      <input type="text" class="form-control" id="age" [(ngModel)]="player.age" name="age">
    </div>
    <div class="form-group">
      <label for="experience">experience</label>
      <input type="text" class="form-control" id="experience" [(ngModel)]="player.experience" name="experience">
    </div>
    <div class="form-group">
        <label for="startDate">startDate</label>
        <input type="text" class="form-control" id="startDate" [(ngModel)]="player.startDate" name="startDate">
      </div>
      <div class="form-group">
        <label for="price">price</label>
        <input type="text" class="form-control" id="price" [(ngModel)]="player.price" name="price">
      </div>
      <div class="form-group">
        <label for="team">team</label>
        <input type="text" class="form-control" id="team" [(ngModel)]="player.team" name="team">
      </div>
    
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>