<p>applayers works!</p>

<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Age</th>
        <th scope="col">Experience</th>
        <th scope="col">Start Date</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let player of players">
        <td>{{player.id}}</td>
        <td>{{player.firstname}}</td>
        <td>{{player.lastname}}</td>
        <td>{{player.age}}</td>
        <td>{{player.experience}}</td>
        <th>{{player.startdate}}</th>
        <th>{{player.price}}</th>
        
      </tr>
    </tbody>
  </table>
  <button type="button" class="btn btn-success">Add new team</button>
  