<h3>Update Team</h3>
<div style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="team.name" name="name">
    </div>

    <div class="form-group">
      <label for="city">City</label>
      <input type="text" class="form-control" id="city" required [(ngModel)]="team.city" name="city">
    </div>

    <div class="form-group">
      <label for="comission">Comission</label>
      <input type="text" class="form-control" id="comission" required [(ngModel)]="team.comission" name="comission">
    </div>

    <div class="form-group">
      <label for="budget">Budget</label>
      <input type="text" class="form-control" id="budget" required [(ngModel)]="team.budget" name="budget">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>