<h2>Team Details</h2> 

<hr/>
<div *ngIf="team">
  <div>
    <label><b>Name: </b></label> {{team.name}}
  </div>
  <div>
    <label><b>City: </b></label> {{team.city}}
  </div>
  <div>
    <label><b>Comission: </b></label> {{team.comission}}
  </div>
  <div>
    <label><b>Budget: </b></label> {{team.budget}}
  </div>    
</div>

<br>
<br>
<button (click)="list()" class="btn btn-primary">Back to Team List</button><br>
