

<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Team name</th>
      <th scope="col">City</th>
      <th scope="col">Budget</th>
      <th scope="col">Comission</th>
      <th scope="col">Edit</th>
      <th scope="col">Details</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor = "let team of teams">
      <td>{{team.id}}</td>
      <td>{{team.name}}</td>
      <td>{{team.city}}</td>
      <td>{{team.budget}}</td>
      <td>{{team.comission}}</td>
      <th scope="col"><button (click)="updateTeam(team.id)" class="btn btn-info" style="margin-left: 10px">Update</button></th>
      <th scope="col"><button (click)="detailsTeam(team.id)" class="btn btn-info" style="margin-left: 10px">Details</button></th>
      <th scope="col"><button (click)="deleteTeam(team.id)" type="button" class="btn btn-info">Delete</button></th>
      <th scope="col"><button (click)="detailsTeamPlayers(team.id)" type="button" class="btn btn-info">Players</button></th>
      
    </tr>
  </tbody>
</table>
<button type="button" class="btn btn-success">Add new team</button>
