<h3>Create Team</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">


    <div class="form-group">
      <label for="name">name</label>
      <input type="text" class="form-control" id="name" [(ngModel)]="team.name" name="name">
    </div>

    <div class="form-group">
      <label for="city">city</label>
      <input type="text" class="form-control" id="city" [(ngModel)]="team.city" name="city">
    </div>

    <div class="form-group">
      <label for="comission">comission</label>
      <input type="text" class="form-control" id="comission" [(ngModel)]="team.comission" name="comission">
    </div>
    <div class="form-group">
      <label for="budget">budget</label>
      <input type="text" class="form-control" id="budget" [(ngModel)]="team.budget" name="budget">
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
